<% include partials/head %>

  <body>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="jumbotron text-center">
        <h1><span class="fa fa-instagram"></span> Login</h1>

        <% if (message != null) { %>
        	<div class="alert-danger"><%= message %></div>
        <% } %>

        <form action="/login" method="post">
          <div class="form-group">
              <label>Handle</label>
              <input type="text" class="form-control" name="handle">
          </div>
          <div>
            <input type="submit" class="form-control" value="Submit" />
          </div>
        </form>
      </div>
      <hr>
    </div>
  </body>
</html>
