<% include partials/head %>

  <body>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="text-center">
        <h1 class=" fa fa-user">Talk to yourself</h1><br>
        <!-- <span><strong>user id</strong>: <%= user._id ? user._id : '' %></span><br> -->
        <span class="fa fa-sign-out"><a href="/"> Sign out</a></span>
        <hr>
        <div class="jumbotron">
          <span>Welcome to your very own personalized chatbot.</span><br/>
          <span>Text <strong>(646) 762-0870</strong> to say "hello" and get this convo started.</span><br/>
        </div>
      </div>
    </div>
  </body>
</html>
